<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 实例</title>
    <script src="/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h2>父组件的Count:{{count}}</h2>
        <h2>父组件的person.name:{{person.name}}</h2>
        <div>
            <box v-bind:person='person'></box>
        </div>
    </div>
</body>

<script>
    //3
    Vue.component('box', {
        props: ['person'],
        data:function(){
            return {
                count:0,
            }
        },
        template: `<p>
            <input type="text" v-model="person.name" />
            <input type="text" v-model="count" />
            <h2>子组件的Count:{{count}}</h2>
            <h2>子组件的person.name:{{person.name}}</h2>
            </p>`,
        // 创建之前调用
        beforeCreate: function() {
            console.log('子组件生命周期开始')
            console.log('>- 子组件beforeCreate')
        },
        // 创建之后调用
        created: function() {
            console.log('>- 子组件created')
        },
        // 挂载之前调用
        beforeMount: function() {
            console.log('>- 子组件beforeMount')
        },
        // 挂载之后调用
        mounted: function() {
            console.log('>- 子组件mounted');
        },
        // 更新之前调用
        beforeUpdate: function() {
            console.log('>- 子组件beforeUpdate');
        },
        // 更新之后调用
        updated: function() {
            console.log('>- 子组件updated');
        },
        // 组件销毁之前调用
        beforeDestroy: function() {
            console.log('>- 子组件beforeDestroy');
        },
        // 销毁之后
        destroyed: function() {
            console.log('>- 子组件destroyed');
            console.log('子组件生命周期结束')
        },


    })

    var app = new Vue({
        el: '#app',
        data: {
            person: {
                name: 'leo',
                age: 22,
            },
            count:0,
        },
        // 创建之前调用
        beforeCreate: function() {
            console.log('父组件生命周期开始')
            console.log('>- 父组件beforeCreate')
        },
        // 创建之后调用
        created: function() {
            console.log('>- 父组件created')
        },
        // 挂载之前调用
        beforeMount: function() {
            console.log('>- 父组件beforeMount')
        },
        // 挂载之后调用
        mounted: function() {
            console.log('>- 父组件mounted');
        },
        // 更新之前调用
        beforeUpdate: function() {
            console.log('>- 父组件beforeUpdate');
        },
        // 更新之后调用
        updated: function() {
            console.log('>- 父组件updated');
        },
        // 组件销毁之前调用
        beforeDestroy: function() {
            console.log('>- 父组件beforeDestroy');
        },
        // 销毁之后
        destroyed: function() {
            console.log('>- 父组件destroyed');
            console.log('父组件生命周期结束')
        },
    });


    console.log(app.directives);
</script>


</html>